body {
    background-color: skyblue;
    width: 600px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

p {
    color: black;
}

img {
    display: block;
    margin: auto;
    border: darkred;
}

table {
    color: navy;
    border: black solid;
}